@tailwind base;

@layer base {
    html {
        font-size: 62.5%;
    }

    body {
        font-family: theme('fontFamily.noto-sans-jp');
        font-size: theme('fontSize.base');
        color: theme('colors.black');
    }

    p:not(:last-child) {
        margin-bottom: theme('spacing[2.5]');
    }
}

@tailwind components;
@tailwind utilities;
