@layer base {
    body {
        @apply antialiased bg-light text-dark text-base font-noto-sans-jp;
    }

    p:not(:last-child) {
        @apply mb-2.5;
    }

    a,
    button {
        @apply cursor-pointer;
    }
}
