@utility container {
    @apply px-1.5 mx-auto;
    @apply sm:max-w-[54rem] md:max-w-[72rem] lg:max-w-[96rem] xl:max-w-[114rem] 2xl:max-w-[134rem] 3xl:max-w-[180rem];
}

@utility container-fluid {
    @apply px-1.5 mx-auto;
}
